*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d3d3d3;
}
.puzzle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px -5px 20px #fff,5px 5px 10px #f0f0f0;
}
.puzzle{
    display: grid;
    grid-template: repeat(3,100px)/repeat(3,100px);
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
    background: blue;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:inset  0 0 10px rgba(0,0,0,0.2).0 10px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.call:active{
    transform: translateZ(-10px);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3),0 10px 20px rgba(0,0,0,0.3);
}
.empty{
    background: white;
    cursor: default;
}
#shuffle-button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}
#shuffle-button:active{
    transform: translateY(2px);
}